/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media screen and (max-width:1440px) {
    header,
    footer {
        height: 40px;
    }
    header .navbar,
    footer .navbar {
        font-size: 18px;
    }
    .copyright img,
    .telegram-link img {
        height: 25px;
    }
    .about-text {
        font-size: 24px;
        padding: 15px 50px;
    }
    section {
        padding: 35px 0;
    }
    .right-about {
        margin-bottom: 20px;
    }
    .left-about {
        margin-top: 20px;
    }
}

@media screen and (max-width:1024px) {
    .copyright img,
    .telegram-link img {
        height: 22px;
    }
    header {
        border-radius: 0 0 15px 15px;
    }
    footer {
        border-radius: 15px 15px 0 0;
    }
    .about-text {
        font-size: 20px;
        padding: 15px 35px;
    }
    .section-2 .section-header .title {
        font-size: 20px;
    }
    .left-about .about-text {
        box-shadow: -10px 5px 0px 0px rgba(175, 233, 240, 1);
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .right-about .about-text {
        box-shadow: 10px 5px 0px 0px rgb(175, 233, 240);
        margin-right: 10px;
        margin-bottom: 15px;
    }
    section {
        padding: 25px 0;
    }
    .social-list a {
        width: 40px;
        height: 40px;
    }
    .social-block img {
        width: 10px;
    }
    .social-list {
        margin-right: 3px;
        box-shadow: 3px 3px 0px 0px rgb(110, 235, 220);
    }
    .slider {
        margin-top: 30px;
    }
    .slider .slider-item:nth-child(2n) {
        margin-top: 10%;
    }
    .section-3 .title {
        font-size: 24px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:960px) {
    .block-container {
        padding: 0 20px;
    }
    .about {
        column-gap: 32px;
    }
    .about-text {
        padding: 15px 10px;
        border-radius: 30px;
    }
    .copyright img,
    .telegram-link img {
        height: 20px;
    }
    .social-list a {
        width: 32px;
        height: 32px;
    }
    .social-list {
        border-radius: 10px;
    }
    .slider {
        margin-top: 20px;
    }
    .slider .slider-item {
        padding: 14px;
    }
}

@media screen and (max-width:720px) {
    .block-container {
        padding: 0;
    }
    .about {
        column-gap: 20px;
    }
    .about-text {
        font-size: 16px;
    }
    .section-2 .section-header .title {
        font-size: 16px;
    }
    .left-about .about-text,
    .right-about .about-text {
        margin-bottom: 10px;
    }
    .left-about img,
    .right-about img {
        width: 10px;
    }
    .right-about {
        margin-bottom: 10px;
    }
    .left-about {
        margin-top: 10px;
    }
    .slider .slider-item {
        padding: 10px;
    }
    .section-3 .title {
        font-size: 20px;
    }
    .copyright img,
    .telegram-link img {
        height: 18px;
        margin-right: 5px;
    }
}

@media screen and (max-width:540px) {
    .about {
        flex-direction: column-reverse;
    }
    .left-block {
        flex-direction: column-reverse;
    }
    .right-block {
        margin-bottom: 20px;
    }
    .about-text {
        font-size: 28px;
        padding: 15px 55px;
    }
    .section-2 .section-header .title {
        font-size: 28px;
        width: 80%;
    }
    .left-about img,
    .right-about img {
        width: 15px;
    }
    .social-block {
        width: max-content;
        margin-left: auto;
    }
    .section-2 .section-header {
        flex-direction: column;
        align-items: center;
    }
    .slider {
        flex-wrap: wrap;
        justify-content: center;
    }
    .slider .slider-item {
        width: 45%;
        padding: 18px;
    }
    .section-3 .title {
        font-size: 30px;
    }
}

@media screen and (max-width:475px) {
    .about-text {
        font-size: 24px;
    }
    .section-2 .section-header .title {
        font-size: 24px;
    }
    .section-3 .title {
        font-size: 26px;
    }
    section {
        padding: 15px 0;
    }
    .slider {
        margin-top: -30px;
    }
    .slider .slider-item {
        padding: 16px;
    }
    .slider .slider-item:nth-child(2n) {
        margin-top: 7%;
    }
}

@media screen and (max-width:375px) {
    .section-2 .section-header .title {
        font-size: 20px;
        width: 100%;
    }
    .section-3 .title {
        font-size: 22px;
    }
    .about-text {
        font-size: 20px;
        padding: 15px 30px;
    }
    .slider {
        margin-top: -7%;
    }
    .slider .slider-item {
        width: 80%;
        padding: 25px;
    }
    .slider .slider-item {
        margin-top: 7%;
    }
    .social-list a {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width:320px) {
    .section-2 .section-header .title {
        font-size: 16px;
    }
}